@import url('../../../styles/index.css');

.container {
  position: relative;
  margin: 0 42px 0 auto;
}

.label {
  border: 2px solid var(--color-pink);
  cursor: pointer;
  border-radius: 50%;
  line-height: 55%;
  margin-top: 3px;
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
}

.input {
  visibility: hidden;
}

.input:checked + label .inner {
  background-color: var(--color-pink);
  transition: background-color 400ms ease;
}

.inner {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-top: 2px;
  transition: background-color 400ms ease;
}
