@import url('../styles/index.css');

.header {
  align-items: center;
  background: var(--color-gunmetal);
  display: flex;
  font-family: none;
  justify-content: center;
  padding: 0 73px;
}

.mainLogo {
  font-size: 0;
  margin-right: auto;
}

.mainText {
  line-height: 60px;
  vertical-align: middle;
}
