:root {
  --color-grey-l: #f2f2f2;
  --color-grey-d: #d8d8d8;
  --color-white: #ffffff;

  --color-pink: #f26581;

  /* BELOW IS BEING PHASED OUT */
  --color-gunmetal: #293341;
  --color-pink-accent: #f26581;

  --color-primary-l: #c1d5e0;
  --color-primary: #90a4ae;
  --color-primary-d: #62757f;

  --color-secondary-l: #768fff;
  --color-secondary: #2962ff;
  --color-secondary-d: #0039cb;

  --color-black-l: #484848;
  --color-black-p: #212121;
  --color-black-d: #000000;
}
