@import url('../../../styles/index.css');
.task {
  align-items: center;
  display: flex;
  padding: 11px;
  border-bottom: 1px solid var(--color-grey-d);
}

.task:last-child {
  border-bottom: none;
}

.title {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  width: 130px;
}

.edit {
  margin-left: auto;
}
