@import url('../styles/index.css');

.button {
  border: 1px solid var(--color-grey-p);
  height: 20px;
  margin: 0 3px;
  width: 20px;
}

.occurrences {
  display: inline-block;
}

.checkbox {
  margin: 0 3px;
}
