@import url('../styles/index.css');

.title {
  margin: 1em 0 0;
}

.addNewTask {
  border: none;
  color: var(--color-grey-l);
  cursor: pointer;
  display: inline-block;
  font-size: 0.778em;
  padding: 0;
}

.addNewTask:hover {
  color: var(--color-grey-d);
}

.addNewTask:focus {
  outline: none;
}

.addButton {
  border: 1px solid;
  border-color: inherit;
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
  border-radius: 100px;
  padding: 6px;
  line-height: 9px;
  height: 14px;
  width: 13px;
}

.x {
  position: relative;
  left: -2px;
}

.addTaskLabel {
  cursor: pointer;
}

.hidden {
  display: none;
}
